@use "global" as *;


.layout-container {
  @include mq('md') {
    // display: flex;
    // height: 100vh;
    // max-width: 100%;

    display: grid;
    grid-template-columns: 1fr minmax(0, 504px) 1fr;
    /* 中央は最大504px、左右は余りを分担 */
    width: 100vw;
    height: 100vh;
  }

}