@use "global" as *;

.layout-line-contents {
  padding-top: rem(50);
  padding-bottom: rem(16);
  background-image: url(../images/line-contents/line-contents_backimage.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: $pink2;

  @include mq('md') {}
}