@use "global" as *;


.header__textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #e92283, #fb913d);
}

.header__text {
  font-size: rem(13);
  font-weight: bold;
  color: $white;
  padding-bottom: rem(4);
  padding-top: rem(13);
  letter-spacing: -0.03em;

}