@use "global" as *;

.sidebar {
  display: none;

  @include mq('md') {
    // display: block;
    // position: fixed;
    // top: 0;
    // height: 100vh;
    // overflow-y: hidden;
    position: sticky;
    /* 画面に張り付ける（スクロールしない） */
    top: 0;
    height: 100vh;
    overflow: hidden;

  }
}